body {
	background-color: #1f4788;
	margin: 0 0 0 0;
	height: 100%;
	overflow: hidden;
	position: relative;
}
#game-wrap {
	border: 4px solid #59abe3;
	position: relative;
	margin: 30px auto 0 auto;
	width: 448px;
	height: 576px;
	max-width: calc(100vw - 8px);
	max-height: calc(125.9vw);
}
#mainCanvas {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
	max-width: calc(100vw - 8px);
	max-height: 128.57vw;
}
#backgroundCanvas {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 0;
	max-width: calc(100vw - 8px);
	max-height: 128.57vw;
}
#footer {
	background-color: #59abe3;
	text-align: center;
	height: 45px;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	line-height: 45px;
	color: #0b1347;
	font-family: "Montserrat", serif;
	font-weight: bold;
	width: 100%;
	position: absolute;
	bottom: 0;
}
#footer > p {
	margin: 0 0 0 0;
}
a {
	color: #0b1347;
	margin: 0 0 0 0;
}
#controls {
	width: 448px;
	height: 160px;
	position: relative;
	margin: 0 auto 15px auto;
	max-width: 100vw;
	max-height: 35.7vw;
}
.controlText {
	font-family: "Montserrat", serif;
	font-weight: bold;
	color: white;
	font-size: 30px;
	position: absolute;
	left: 5px;
	top: 10px;
	text-align: center;
	width: 260px;
	max-width: 50vw;
}
#phone-controls {
	display: none;
}
#computer-controls {
	display: block;
}
#stickCanvas {
	position: absolute;
	right: -10px;
	max-width: 35.7vw;
	max-height: 35.7vw;
}
#all-wrap {
	min-height: calc(100vh - 45px);
	overflow: hidden;
	display: block;
	position: relative;
	padding-bottom: 45px;
}
@media only screen and (max-device-width: 480px) {
	body {
		overflow: auto;
	}
	#phone-controls {
		display: block;
	}
	#computer-controls {
		display: none;
	}
	#stickCanvas {
		right: 10px;
	}
	.controlText {
		font-size: 24px;
		left: 15px;
	}
	#game-wrap {
		margin-top: 22px;
	}
	#footer {
		height: 24px;
		line-height: 24px;
		font-size: 12px;
		top: 0;
	}
	#all-wrap {
		height: 100%;
		overflow: hidden;
		position: relative;
	}
}
